.popup {
  align-items: center;
  background-color: #89F3FF;
  display: flex;
  height: 300px;
  justify-content: center;
  margin: 0px;
  width: 400px;
}

.button-row > * {
  margin: 20px 20px;
}

.button {
  background-color: white;
  background-position: center center; 
  /* For some reason border-color isn't being set in prod */
  border-color: black;
  border-radius: 4%;
  border-style: solid;
  border-width: 1.6%;
  height: 75px;
  width: 75px;
}

.button:hover {
  filter: brightness(95%);
}

.button:active {
  filter: brightness(90%);
}
  