.navbar {
  /* background-color: #00A400;
  box-shadow: 0 4px 2px 2px #00A400; */
  height: 16.6666%;
  width: 100%;
  display: flex;
}

.back-arrow {
  /* background-color: #00A400; */
  /* background-image: url('img/back_arrow_50x50.png'); */
  border-style: none;
  height: 50px;
  width: 50px;
}

.back-arrow:hover {
  filter: brightness(95%);
}

.back-arrow:active {
  filter: brightness(90%);
}
